<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        window.ARTRECSYS_BASE_PATH = "{{ request.script_root }}";

        window.appPath = function(path) {
            return (window.ARTRECSYS_BASE_PATH || "") + path;
        };
    </script>

    <!-- h1 font imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/old-london" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loader_4.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='user_interaction.js') }}" defer></script>
    
    <title>Painting Recommendation System</title>
</head>

<body data-require-user="true">
    <h1> Painting Recommendation System </h1>
    <div class="header">
        <img src="{{ url_for('static', filename='angel1.png') }}" class="reflect">

        <div class="pages">
            <!--  <img src="../../UMLOGOonly_black.png" alt=" "> -->
            <button class="layered" data-href="{{ url_for('index') }}">
                <span class="btn-inner">
                    <span class="btn-text">Home</span>
                </span>
            </button>
            <button class="layered" data-href="{{ url_for('index') }}">
                <span class="btn-inner">
                    <span class="btn-text">Explore</span>
                </span>
            </button>
            <button class="layered" data-href="{{ url_for('create_gallary') }}">
                <span class="btn-inner">
                    <span class="btn-text">Create</span>
                </span>
            </button>
            <!-- <a href="#" class="icon"><i class="fas fa-bell"></i></a> 
            <a href="#" class="icon"><i class="fas fa-comment-dots"></i></a>-->
        </div>

        <img src="{{ url_for('static', filename='angel1.png') }}">
    </div>
    <div class="board-nav">
        <input type="text" id="searchBar" placeholder="Search">
    </div>
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <span class="close-btn" id="closeModal">&times;</span>

            <img id="modalImage">

            <div class="modal-details">
                <div>
                    <!-- three dot menu -->
                    <div class="dropdown">
                        <!-- three dots -->
                        <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- menu -->
                        <div id="myDropdown" class="dropdown-content">
                            <a> Why was this painting recommended? </a>
                            <a> What were the top contributing features?</a>
                            <a> Which painting regions contributed the most? </a>
                            <a> What would change this recommendation? </a>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div id="loader">
                        <div class="dino-loader">
                            <div class="dino-runner"></div>
                            <div class="dino-obstacle"></div>
                            <div class="dino-ground"></div>
                        </div>
                        <!-- <div style="margin-top:12px; align-items: center;">Loading Details…</div> -->
                    </div>
                </div>
                <h3 id="modalTitle"></h3>
                <h4 id="modalArtist"></h4>
                <p id="modalBirth"></p>
                <p id="modalDeath"></p>
                <p id="modalNationality"></p>
                <div>
                    <hr>
                    <p id="modalYear"> </p>
                    <p id="modalGenre"> </p>
                    <p id="modalArtStyle"> </p>
                    <p id="modalMedium"> </p>
                </div>

                <div id="paletteContainer"> </div> &nbsp;
                <p id="modalPaletteType"> &nbsp; </p>
                <p id="modalDescriptionTags"> </p>

                <!-- Artist Details -->
                <div>
                    <hr>
                    <h3> About the Artist</h3>
                    <p id="modalFields"> </p>
                    <p id="modalartMovements"> </p>
                    <p id="modalBio"> </p>
                </div>

                <div class="feedbackButtons">
                    <select name="Add To Gallary" id="addToGallary"> Add To Gallary
                        <option> Save To Gallary... </option>
                        <option id="addToGal" onclick="addToGallary()">Gallary Name</option>
                    </select>

                    <button id="addToFav" onclick="addToFavourites()">
                        <i class="fa-sm far fa-star"></i> Add To Favourites
                    </button>
                    <button id="notInterested" onclick="notInterested()">
                        <i class="fa-sm fas fa-ban"></i> Not Interested
                    </button>
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <input id="review" type="text" placeholder="Write a review... ">
            </div>
        </div>
    </div>

    <div id="container">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <!-- toast notification -->
    <div id="toast" class="toast" role="status" aria-live="polite"></div>
</body>

</html>