<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        window.ARTRECSYS_BASE_PATH = "{{ request.script_root }}";

        window.appPath = function(path) {
            return (window.ARTRECSYS_BASE_PATH || "") + path;
        };
    </script>

    <!-- h1 font imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=UnifrakturMaguntia&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/old-london" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loader_4.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='user_interaction.js') }}" defer></script>
    
    <title>Painting Recommendation System</title>
</head>

<!-- <img src="../../UMLOGOonly_black.png" alt=" "> -->

<body data-require-user="true">
    <!-- Trigger Button -->
    <button id="userWeights" class="weights-btn">
        Adjust Interaction Weights
        <i class="fa fa-gear"></i>
    </button>

    <div id="weightsModal" class="weights-modal hidden">
        <div class="weights-modal-content">
            <div class="weights-header">
                <h2>Adjust User Profile Weights</h2>
                <button id="closeWeightsModal" class="close-modal">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            <div class="weights-description">
                <p id="description">
                    The user profile is a representation of your preferences based on previous interactions with paintings 
                    e.g., adding to favourites, skipping, ratings, and so on. While using the website explicit and implicit feedback are collected, 
                    allowing users to indicate whether they liked/disliked recommended paintings, thereby providing 
                    relevance judgments that support iterative model refinement. Explicit feedback involves active user engagement, providing 
                    intentional signals about user preferences. In contrast, implicit feedback is gathered passively 
                    by monitoring user behaviour, however it’s less precise, since interest is inferred rather than directly stated. 
                </p>

                <b>Explicit Feedback</b>
                <ul>
                    <li><strong>Rating:</strong> Prioritises paintings according to the rating.</li>
                    <li><strong>Favourite:</strong> Increases recommendations similar to these artworks.</li>
                    <li><strong>Not Interested:</strong> Reduces recommendations similar to these paintings.</li>
                    <li><strong>Reviews:</strong> Uses written engagement as preference feedback,
                        however this is unreliable since the user can enter both positive and negative reviews.</li>
                </ul>
                
                <b>Implicit Feedback</b>
                <ul>
                    <li><strong>Dwell Time:</strong> The longer you view paintings indicates interest, however dwell time is capped at 1 minute.</li>
                    <li><strong>Clicks:</strong> Uses selected paintings as an indication of interest.</li>
                    <li><strong>Skip:</strong> Penalises ignored recommendations, according to their position in the ranked list of retrieved paintings.</li>
                </ul>
                <p id="description">
                    The sliders below allow you to adjust how strongly each interaction influences your recommendations, 
                    according to your preferred forms of feedback. 
                </p>
            </div>

            <!-- Sliders -->
            <div class="weights-sliders">

                <div class="slider-group">
                    <label for="ratingWeight">
                        Rating
                    </label>
                    <input type="range"
                        id="ratingWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                    <span class="slider-value" id="ratingWeightValue">1.0</span>
                </div>

                <div class="slider-group">
                    <label for="favouriteWeight">
                        Favourite
                    </label>
                    <input type="range"
                        id="favouriteWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                    <span class="slider-value" id="favouriteWeightValue">1.0</span>
                </div>

                <div class="slider-group">
                    <label for="notInterestedWeight">
                        Not Interested
                    </label>
                    <input type="range"
                        id="notInterestedWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                    <span class="slider-value" id="notInterestedWeightValue">1.0</span>
                </div>

                <div class="slider-group">
                    <label for="viewingTimeWeight">
                        Viewing Time
                    </label>
                    <input type="range"
                        id="viewingTimeWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                        <span class="slider-value" id="viewingTimeWeightValue">1.0</span>
                </div>

                <div class="slider-group">
                    <label for="clickWeight">
                        Clicks
                    </label>
                    <input type="range"
                        id="clickWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                    <span class="slider-value" id="clickWeightValue">1.0</span>
                </div>

                <div class="slider-group">
                    <label for="reviewWeight">
                        Reviews
                    </label>
                    <input type="range"
                        id="reviewWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                    <span class="slider-value" id="reviewWeightValue">1.0</span>
                </div>

                <div class="slider-group">
                    <label for="skipWeight">
                        Skip Penalty
                    </label>
                    <input type="range"
                        id="skipWeight"
                        min="0"
                        max="5"
                        step="0.5"
                        value="1.0">
                    <span class="slider-value" id="skipWeightValue">1.0</span>
                </div>

            </div>

            <!-- Footer -->
            <div class="weights-footer">
                <button id="saveWeightsBtn" class="save-weights-btn">
                    Apply Preferences
                </button>
            </div>

        </div>
    </div>
    <h1> Painting Recommendation System </h1>
    <div class="header">
        <img src="{{ url_for('static', filename='angel1.png') }}" class="reflect">

        <div class="pages">
            <button class="layered" id="homeBtn" data-href="{{ url_for('index') }}">
                <span class="btn-inner">
                    <span class="btn-text">Home</span>
                </span>
            </button>
            <button class="layered" id="exploreBtn" data-href="{{ url_for('explore') }}">
                <span class="btn-inner">
                    <span class="btn-text">Explore</span>
                </span>
            </button>
            <button class="layered" data-href="{{ url_for('create_gallary') }}">
                <span class="btn-inner">
                    <span class="btn-text">Create</span>
                </span>
            </button>
        </div>

        <img src="{{ url_for('static', filename='angel1.png') }}">
    </div>
    <div class="board-nav">
        <input type="text" id="searchBar" placeholder="Search a painting description...">
        <div id="info">
            <i class="fa fa-info-circle"></i>
            <span class="tooltip-text">
                By using this search functionality, a set of paintings will be retrieved using another recommendation engine using th CLIP model to represent paintings. 
                After interacting with some of the paintings retreived, a set of recommendations will be retrieved based soley on the interactions made with the search results.
            </span>
        </div>
    </div>
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <span class="close-btn" id="closeModal">&times;</span>
            <img id="modalImage">
            <div class="modal-details">
                <div>
                    <!-- three dot menu -->
                    <div class="dropdown">
                        <!-- three dots -->
                        <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- menu -->
                        <div id="myDropdown" class="dropdown-content">
                            <a> Why was this painting recommended? </a>
                            <a> What were the top contributing features?</a>
                            <a> Which painting regions contributed the most? </a>
                            <a> What would change this recommendation? </a>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div id="loader">
                        <div class="dino-loader">
                            <div class="dino-runner"></div>
                            <div class="dino-obstacle"></div>
                            <div class="dino-ground"></div>
                        </div>
                    </div>
                </div>
                <h3 id="modalTitle"></h3>
                <h4 id="modalArtist"></h4>
                <p id="modalBirth"></p>
                <p id="modalDeath"></p>
                <p id="modalNationality"></p>
                <div>
                    <hr>
                    <p id="modalYear"> </p>
                    <p id="modalGenre"> </p>
                    <p id="modalArtStyle"> </p>
                    <p id="modalMedium"> </p>
                </div>

                <div id="paletteContainer"> </div> &nbsp;
                <p id="modalPaletteType"> &nbsp; </p>
                <p id="modalDescriptionTags"> </p>

                <!-- Artist Details -->
                <div>
                    <hr>
                    <h3> About the Artist</h3>
                    <p id="modalFields"> </p>
                    <p id="modalartMovements"> </p>
                    <p id="modalBio"> </p>
                </div>

                <div class="feedbackButtons">
                    <!-- <select name="Add To Gallary" id="addToGallary"> Add To Gallary
                        <option> Save To Gallary... </option>
                        <option id="addToGal" onclick="addToGallary()">Gallary Name</option>
                    </select> -->

                    <button id="addToFav" onclick="addToFavourites()">
                        <i class="fa-sm far fa-star"></i> Add To Favourites
                    </button>
                    <button id="notInterested" onclick="markNotInterested()">
                        <i class="fa-sm fas fa-ban"></i> Not Interested
                    </button>
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <input id="review" type="text" placeholder="Write a review... " onkeydown="if(event.key==='Enter') submitReview()">
            </div>
        </div>
    </div>

    <div id="searchHeader" class="search-header" style="display:none;"></div>
    
    <div id="container">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <button id="scrollTopBtn" onclick="scrollToTop()">&#8679;</button>

    <!-- toast notification -->
    <div id="toast" class="toast" role="status" aria-live="polite"></div>
</body>

</html>

