html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

footer {
    position: fixed;
    margin-top:43%;
    background-color: #00000059;
    color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url("../static/pixel_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 13vh;
    color: #fff;
    font-family: 'Old London', sans-serif;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.415);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-bottom: 0px;
}

/* Board Grid */
.board-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Board Cards */
.board {
  width: 146px;
  height: 146px;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  border-radius: 25px;
  border-color: rgba(0, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-top: 0px;
}

.board:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.89);
}

.board-label{
    font-size: small;
}

/* Create Board Layout */
#board-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.board.selected {
    outline: 3px solid #fff;
    transform: scale(1.05);
}

.btn { 
    background: #d88d00; 
    border:none; 
    color:#071426; 
    padding:10px 18px; 
    border-radius:10px; 
    font-weight:600; 
    cursor:pointer;  
    margin-left: 20px;
}

.btn:disabled { 
    opacity:0.45; 
    cursor:not-allowed; 
}