@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
    font-family: 'TheFont';
    
    /* Variable fonts like the one linked below allow for fine-tuned control over various font properties dynamically via CSS, such as weight ('wght'), width ('wdth'), etc. This link is where your web browser will download the font from. */
    /* Insert the link to your custom variable font */
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2")
      format('woff2'); 
    }

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

footer {
    position: fixed;
    margin-top:43%;
    background-color: #00000059;
    color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url("../static/pixel_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 13vh;
    color: #fff;
    font-family: 'Old London', sans-serif;
}

/* Consent Form */
h2 {
    text-align: center;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: left;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: left;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.consent-details {
    text-align: center;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    text-align: left;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.gallery{
    position: fixed;
    width: 90vw;
    height: 65vh;
    margin: 9%;
}

.gallery > img{
    position: absolute;
    height: auto;
}

.p1{ width:9vw; top:8vh; left:15vw; }
.p2{ width:9vw; top:2vh; left:25vw; }

.p3{ width:10vw; top:10vh; right:27vw; }
.p4{ width:14vw; top:6vh; right:12vw; }

.create{
    position:absolute;
    top:0vh;
    left:50%;
    transform:translateX(-50%);
}

.create img{
    width:13vw;
}

.tutorial{
    position:absolute;
    top:20vh;
    left:52%;
    transform:translateX(-50%);
}

.tutorial img{
    width:9vw;
}

.gallery .s1{ width:18vw; bottom:2vh; left:10vw; }
.gallery .s2{ width:10vw; bottom:2vh; left:29vw; }
.gallery .s3{ width:13vw; bottom:0vh; left:39vw; }

.gallery .s4{ width:7vw; bottom:27vh; right:49vw; }
.gallery .s5{ width:10vw; bottom:10vh; right:27vw; }
.gallery .s6{ width:11vw; bottom:10vh; right:14vw; }

/*.gallery .s7{ width:8vw; bottom:58vh; left:21%; transform:translateX(-50%); }*/

/* Button Frames */
.button-frames {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-frames .frame-button:nth-child(1) img {
    padding-top: 20px;
    width: 13vw;
}

.transparent-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;

    background: transparent;
    border: none;
    cursor:pointer;
}

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 2vh;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    margin-top: 30px; 
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 2s steps(20) 1s 1 both, 
    blinkingCursor 600ms infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 10%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255, 255, 255, 0.75); }
  to { border-right-color: transparent; }
}

.breathe-text {
    font-family: 'TheFont';
    font-size: clamp(2vw, 5vw, 15vh);
    color: white;
    text-align: center;
    display: block;
    margin-top: 40px;
    animation: letter-breathe 3s ease-in-out infinite;
}
@keyframes letter-breathe {

    from,
    to {
        font-variation-settings: 'wght' 100;
    }

    50% {
        font-variation-settings: 'wght' 900;
    }
}

/* User Page CSS */
/* Background overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6); /* transparent grey */
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

/* Modal box */
.modal-box {
    background: #fff;
    width: 70%;
    max-width: 900px;
    height: 80%;

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
}

/* Scrollable content */
.modal-content {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
}

/* Footer (fixed) */
.modal-footer {
    padding: 15px;
    border-top: 1px solid #ccc;
    background: #f9f9f9;
}

/* Buttons */
.button-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffc400;
}

/* Error text */
.error-text {
    color: rgb(135, 0, 0);
    display: none;
}

