Flask
flask-cors
numpy
opencv-python-headless
PyWavelets
matplotlib
scikit-learn
scikit-image
Pillow
psycopg2-binary
joblib
h5py
grad-cam
wordninja
sentence_transformers
uuid
torch==2.5.1
torchvision==0.20.1
transformers==4.38.2